<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1><%=title%></h1>
    <p>Welcome to <%=title%></p>
    <table class="table">
        <thead>
            <tr>
                <th class="w60">번호</th>
                <th class="expand">제목</th>
                <th class="w100">작성자</th>
                <th class="w100">작성일</th>
                <th class="w60">조회수</th>
            </tr>
        </thead>
        <tbody>
            <% notices.forEach(n=>{ %>
            <tr>
                <td><%=n.id%></td>
                <td class="title indent text-align-left"><a href="notice/14"><%=n.title%></a></td>
                <td>newlec</td>
                <td><%=n.regdate%></td>
                <td>218</td>
            </tr>
            <% }); %>
        </tbody>
    </table>

</body>

</html>